body{
    font-family: 'Roboto', sans-serif; /* define a fonte a ser utilizada no site */
    background-color: #fafafa;
}
a {
    text-decoration: none; /* remove o sublinhado dos textos que contém link */
    color: black;
}
strong {
    font-weight: bold;
}
.icons{ /* defini o tamanho dos ícones adicionados a partir da pasta icons */
    width: 20px;
    height: 20px;
}
.barra-superior {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: white;
}
.menu-superior{
    height: 54px;
    width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icones-esq{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.separador-vertical{
    height: 22px;
    border-left: 1px solid #DBDBDB;
}
.insta-logo{
    width: 103px;
    height: 29px;
}
.barra-pesquisa{
    width: 215px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-pesquisa p{
    font-size: 12px;
    font-weight: 400;
    color: #979797;
}
.menu-icones-dir{
    width: 125px;
    display: flex;
    justify-content: space-between;
}
.separador-horizontal{
    border-bottom: 1px solid #DBDBDB;
}
.conteudo-da-pag{
    width: 935px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stories{
    position: relative;
    width: 614px;
    height: 118px;
    margin: calc(54px + 34px) 0 24px 0;
    background-color: white;
    display: flex;
    align-items: center;
    overflow-x: hidden; /* oculta os elementos que vazam da div */
    border: 1px solid #DBDBDB;
}
.story{
    min-width: 80px; /* defini um tamanho mínimo de largura para evitar que os elementos sejam comprimidos */
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("imgs/stories-background.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 3px;
}
.story img {
    width: 56px;
    border-radius: 28px;
    display: block;
    margin: 0 auto;
}
.story p{
    font-size: 12px;
    font-weight: 400;
    color: #262626;
}
.seta-stories{
    font-size: 26px;
    color: white;
    filter: drop-shadow(3px 3px 2px rgba(0,0,0,.7));
    position: absolute;
    top: 46px;
    right: 8px;
    z-index: 1;
}
.feed{
    width: 614px;
}
.post{
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border: 1px solid #DBDBDB;
}
.ultimo{ /* elimina a margem inferior do ultimo post */
    margin-bottom: 0;
}
.post-barra-sup{
    position: relative;
    z-index: 1;
    height: 61px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.post-barra-sup p{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}
.post-barra-sup img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
}
.post-barra-sup a{
    margin-left: 17px;
}
.post-barra-sup :nth-child(3){
    position: absolute;
    right: 18px;
}
.post-barra-inf{
    position: relative;
    z-index: 1;
    width: calc(100% - 17px);
    height: 76px;
    padding-left: 17px;
    background-color: white;
}
.post-barra-inf img {
    display: inline-block;
}
.post-barra-inf a{
    margin-right: 17px;
}
.post-barra-inf :nth-child(1){
    margin-top: 5px;
}
.post-barra-inf :nth-child(4){
    float: right;
    margin-top: 5px;
}
.logo-pag-like{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
}
.curtidas{
    display: flex;
    align-items: center;
}
.curtidas a{
    font-weight: 500;
    margin-right: 0;
}
.curtidas a:hover{
    text-decoration: underline;
}
.barra-lateral{
    position: sticky;
    z-index: 1;
    top: 0;
    width: 293px;
    height: 100%;
    padding-top: calc(54px + 57px);
}
.barra-lateral-sup img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.pag-usuario{
    font-size: 14px;
    float: right;
    margin: 13px 130px 0 10px;
}
.pag-usuario :nth-child(1){
    font-weight: 500;
}
.pag-usuario :nth-child(2){
    font-weight: 300;
    color: #8E8E8E;
}
.sugestoes{
    font-size: 12px;
    font-weight: 500;
    margin: 20px 0 17px 0;
}
.sugestoes :nth-child(1){
    float: right;
}
.sugestoes :nth-child(2){
    color: #8E8E8E;
}
.barra-lateral-inf img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 10px;
    float: left;
}
.pag-sugerida{
    width: 100%;
    height: 32px;
    margin-bottom: 17px;
}
.pag-sugerida :nth-child(2){
    font-size: 12px;
    font-weight: 500;
    float: right;
    margin-top: 6px;
    color: #139EF2;
}
.pag-sugerida :nth-child(3){
    font-size: 14px;
    font-weight: 500;
}
.pag-sugerida :nth-child(3):hover{
    text-decoration: underline black;
}
.pag-sugerida :nth-child(4){
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E;
}
.outras-informacoes{
    width: 100%;
    margin-top: 33px;
}
.outras-informacoes p{
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 18px;
    color: #C7C7C7;
}
.barra-inferior{ /* oculta a barra inferior */
    display: none;
}