@media (max-width: 935px) {
    .menu-superior{
        width: 95%;
    }
	.barra-lateral { /* oculta a barra lateral */
		display: none;
	}
    .conteudo-da-pag{
        width: 100%;
        display: flex;
        justify-content: center; /* centraliza o feed e os stories */
    }
}