@media (max-width: 614px) {
    .barra-pesquisa{ /* oculta a barra de pesquisa */
        display: none;
    }
    .menu-icones-esq{
        width: auto;
    }
    .insta-logo{
        position: absolute;
        left: 40%;
    }
    .menu-icones-dir{
        width: auto;
    }
    /* oculta alguns ícones do menu superior */
    .menu-icones-dir :nth-child(2){
        display: none;
    }
    .menu-icones-dir :nth-child(3){
        display: none;
    }
    .menu-icones-dir :nth-child(4){
        display: none;
    }
    /*****************************************/
    .separador-vertical{
        display: none;
    }
    .conteudo-da-pag{
        width: 100%;
    }
    .stories-e-feed{
        width: 100%;
    }
    .stories{
        width: 100%;
        margin: 54px 0 0 0;
        border: none;
        background-color: #FAFAFA;
    }
    .feed{
        width: 100%;
    }
    .seta-stories{ /* oculta a seta dos stories */
        display: none;
    }
    .post{
        border-left: none;
        border-right: none;
    }
    .ultimo{ /* evita que a barra inferior sobreponha o ultimo post */
        margin-bottom: 54px;
    }
    .barra-inferior{ /* a barra inferior deixa de ficar oculta ao definir algum parâmetro */
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 54px;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }
}